.frame{
  width: 288px;
  height: 512px;
  border: 2px solid black;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  overflow: hidden;
}

.rule{
  text-align:center;
  color:brown;
  background:lawngreen;
  font-size:30;
  width:30%;
  margin-top:200px;
  position: absolute;
}
