/*CSS for heading section*/
body{
	font-family: Inter;
}


/*1. Mobile View*/
.header{
	background-color: #f3fcf7;
}

.logo{
	position: absolute;
	left: 9.38%;
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;
	color: #06C167;
	padding:10px;
}

.nav-links{
	position: fixed;
	background: #212329;
	height: 100vh;
	width: 200px;
	top: 0;
	right: -200px ;
	text-align: left;
	z-index: 2;
	transition: 1s; 
}

.nav-links ul{
	padding: 30px;
}

.nav-links ul li{
	display: block;
	padding: 8px 12px;
}


.nav-links ul li a{
	color: #fff; 
	text-decoration: none;
	font-size: 18px;
}

.nav-links ul li a:hover{
	background-color: green;
}


nav{
	padding:15px;
}

nav .fa{
	display: inline-block;
	color: #23c879;
	font-size: 25px;
	cursor: pointer;
	border: 2px solid #23c879;
	padding:8px;
}

.top-menu{
	margin-top:10px;
}

.heading{
	font-weight: 600;
	line-height: 62px;
	text-align: center;
	font-size: 51px;
	color:#1D1D1F;
	padding-top: 115px;
}


.paragraph{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	color: #1D1D1F;
	padding: 25px 33px 53px 26px;
}

.button{
	background: #06C167;
	margin: 0 28px 47px 27px;
	cursor: pointer;
}

.button:hover, .button2:hover, .subscribe:hover{
	background: #06C777;
}

.button div{
	color:#ffffff;
	padding-top:24px;
	padding-bottom: 25px;
	text-align: center;
}

.image{
	text-align: center;
	position: relative;
}

.next-btn{
	background: #ffffff;
	width: 250px;
	text-align: center;
	padding-top: 19.71px;
	padding-bottom: 18.71px;
	border-radius:25px;
	margin-top:-120px;
	z-index: 2;
	font-size: 18px;
	font-weight: 500;
	position: relative;
}

.next-btn2{
	background: #ffffff;
	width: 250px;
	padding-top: 9.71px;
	padding-bottom: 8.71px;
	border-radius:25px;
	margin-top:10px;
	font-size: 18px;
	font-weight: 500;
	position: relative;
}

.btn-text{
	position: relative;
	top:-10px;
}


/* Body Section*/
.bold-letter{
	color: #c3c6c8;
	font-weight: 900;
	font-size: 15px;
}

.logoipsum-container{
	display: inline-block;
	width:100%;
}

.div1{
	float:left;
	margin-left:10px;
}


.div2{
	float:right;
	right: 0px;
}

.div3{
	text-align: center;
	display: inline-block;
	margin-top:40.91px;
	width: 100%;

}


.logo-text{
	position: relative;
	top:-5px;
}

.horizontal-line{
	border: 1.5px solid #707070;
	width:80%;
	height: 2px;
	margin-bottom: 59.5px;
	margin-top:63.04px;
	opacity: 15%;
}

.tools-container{
	width:80%;
}

.tools-container:hover{
	background: #FFFAF0;
}

.tool{
	text-align:center;
	width:40%;
}

.tool-title{
	font-size:18px;
	margin-top:21px;
	margin-bottom: 7px;
}

.tool-desc{
	font-size:14px;
	opacity: 0.75;
}

.overlap-image{
	margin-top:-50px;
	margin-left: 2px;
}

.set-padding{
	padding-bottom: 104px;
}

.image-container{
	text-align: center;
	display: block;
}

.image1{
	z-index:2;
	position:relative;
}

.rectangle-2{
	margin-top:-395px;
	position: relative;
	margin-bottom: 57px;
	background-color: #F0F1EC;
	width:320px;
	height:413px;
}

.benefit-title{
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 13px;
}

.benefit-slogan{
	font-size:35px;
	font-weight: 500;
	line-height: 42px;
	margin-bottom: 52px;
}

.benefit-container{
	text-align: center;
}

.benefit-list span{
	font-size:16px;
	margin-left: 22px;
	top:-5px;
	position: relative;
}

.list-container ul {
  display: table; 
  margin: 0 auto;
  text-align: left;
}

.lemon-image{
	text-align: center;
	margin-top:70px;
	margin-bottom: 67px;
}

.counter .title{
	font-size:40px;
	font-weight: 600;
	text-align: center;
	color: #06C167;
	margin-bottom: 16px;
}

.counter .desc{
	font-size:15px;
	font-weight: 400;
	text-align:center;
	opacity: 65%;
	margin-bottom: 39px;
}

.btn-margin{
	margin-bottom: 129px;
}

.image-loader{
	text-align: center;
}

.block{
	background: #F0F1EC;
	width: 80%;
	border:1px solid green;
}

.block .title{
	font-size:32px;
	font-weight: 500;
	padding: 37.5px 54px 25px 38px;
}

.block .desc{
	font-size:16px;
	font-weight: 400;
	padding: 0 88px 48.5px 38px;
}

.block .btn{
	font-size: 15px;
	font-weight: 500;
	padding-bottom: 34.5px;
	padding-left:37.5px;
}

.block .btn a{
	text-decoration: none;
	color: #06C167;
}

.block:hover{
	border:1px solid blue;
	opacity: 90%;
}

.product-margin{
	margin-top:129.75px;
}

.buy-product{
	border:1.5px solid green;
	text-align: center;
	width:80%;
	margin-bottom: 37px;
}

.buy-product:hover{
	background-color: #f3f888;
	border:1.5px solid blue;
}

.buy-product .image{
	padding-top:25px;
	padding-bottom: 5px;
}

.buy-product .title{
	font-size: 20px;
	font-weight: 400;
	padding-top:21.42px;
}

.price1{
	font-size: 20px;
	font-weight: 600;
	color: #767675;
	margin-right: 8px;
	display: inline-block;
}

.price2{
	font-size:20px;
	font-weight: 400;
	color: #06C167;
	padding-top:25px;
	padding-bottom: 29px;
	display: inline-block;
}

.buy-product .btn{
	width: 60%;
	font-size: 16px;
	font-weight: 400;
	border:2.5px solid #06C167;
	padding: 18px 0 20px 0;
	margin-bottom: 29px;
	cursor: pointer;
}

.buy-product .btn:hover{
	background-color: #FAF0E6;
}


.buy-product .btn a{
	text-decoration: none;
	color: #06C167;
}

.buy-product .btn .arrow{
	margin-left: 31.19px;
}

.bottom-body{
	margin-top: 31px;
	background: url(../images/image6.png);
	text-align: center;
	margin-bottom: 30px;
}

.bottom-body .benefit-slogan{
	width:80%;
	color:white;
	padding-top:102px;
}

.button2{
	background: #06C167;
	cursor: pointer;
	color:white;
	width:70%;	
	padding-top:29px;
	padding-bottom: 31px;
}

.bottom-body-btn{
	padding-bottom: 100px;
}

/*Footer Section*/
.footer{
	text-align: center;
}

.footer-top{
	margin-top:65px;
	margin-bottom: 79.02px;
}

.footer-top .title{
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 23px;
	color: #06C167;
}

.footer-top .desc{
	width: 80%;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 36.6px;
}

svg{
	margin-right:26px;
	cursor: pointer;
}

.footer-menu{
	margin-bottom: 80px;
}

.menu-header{
	font-size:24px;
	font-weight: 500;
	margin-bottom: 41px;
}

.footer-menu .content{
	font-size: 15px;
	font-weight: 400;
	margin-top:16px;
	cursor: pointer;
}

.footer-menu .set-cursor{
	cursor: unset;
}

.email, .subscribe{
	background: #F0F1EC;
	width: 80%;
	margin-top:10px;
}

.email input, .subscribe div{
	padding-top:18px;
	padding-bottom: 19px;
	background: transparent;
	border-style: none;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
}

.subscribe{
	background:#06C167;
	color:white;
	cursor: pointer;
}

.subscribe div{
	font-weight: 500;
}

.email-margin{
	margin-top:-40px;
}

.get-in-touch{
	margin-bottom: 81px;
}

.copyright{
	font-size:16px;
	font-weight: 400;
	color: #1D1D1F;
}

.last-content{
	margin-bottom: 31px;
}






/*2. Tablet View*/
@media(min-width: 900px){

	.nav-links, .nav-links ul, .nav-links ul li, .nav-links ul li a, .nav-links ul li a:hover{
		all:unset;
	}

	div .fa{
		display: none;
	}

	nav{
		float:right;
	}

	.top-menu{
		padding-top: 10px;
	}

	.nav-links ul li{
		list-style: none;
		display: inline-block;
		margin-left:35px;
		cursor: pointer;
	}

	.nav-links ul li a{
		color: #1D1D1F; 
		text-decoration: none;
		font-size: 16px;
	}

	.active{
		color:#06C167;
	}

	.nav-links ul li::after{
		content: '';
		width: 0%;
		height:  2px;
		background: #ffcc22;
		display: block;
		margin: auto;
		transition: 0.5s;
	}

	.nav-links ul li:hover::after{
		width: 100%;
	}


	.div1, .div2, .div3{
		all:revert;
	}

	.logoipsum-container{
		width: 100%;
	}

	.div1{
		float:left;
		width:40%;
	}

	.div2{
		float:left;
		width:40%;
	}

	.div3{
		float:right;
		width: 20%;
	}


	.wrapper-container1{
		display: inline-block;
		width:80%;
	}

	.wrapper-container1 .image-container{
		float:left;
		width: 45%;
		margin-left:70px;
	}

	.wrapper-container1 .benefit-container{
		float:right;
		width:45%;
		margin-top: 85px;
		text-align: center;
	}

	/*.benefit-container{
		float:right;
		width:45%;
		margin-top: 85px;
		text-align: left;
	}

	.list-container ul {
	  display: table; 
	  margin: 0;
	  text-align: left;
	}

	.image-container .rectangle-2{
		all:revert;
	}

	.image1 img{
		width: 445px;
		height:513px;
		margin-left:48px;

	}

	.image-container .rectangle-2{
		background-color: #F3FAFB;
		width: 541px;
		height: 608px;
		margin-top:-517px;
	}*/

	.wrapper-container2{
		display: table;
		width:80%;
	}

	.wrapper-container2 .lemon-image{
		float:right;
		width: 40%;
	}

	.wrapper-container2 .counter-container{
		float:left;
		width:50%;
		margin-top: 85px;
		margin-left:50px;
	}

	.counter-list .sold_product{
		float:left;
		width: 25%;
	}

	.counter-list .feedback{
		float: left;
		width: 50%;
	}

	.counter-list .store{
		float:right;
		width:25%;
	}

	.wrapper-container3{
		width:80%;
	}

	.sub-wrapper1{
		float:left;
		width: 50%;
	}

	.sub-wrapper1 .image-loader img{
		float:right;
		width:292.5px;
		height: 292.5px;
	}

	.wrapper-container3 .block{
		float:left;
		padding-bottom:8px;
		width:292.5px;
		height: 292.5px;
	}

	.wrapper-container4{
		width:80%;
	}

	.sub-wrapper2{
		float:right;
		width: 50%;
	}

	.sub-wrapper2 .image-loader img{
		float:left;
		width:292.5px;
		height: 292.5px;
	}

	.wrapper-container4 .block{
		float:right;
		padding-bottom:8px;
		width:292.5px;
		height: 292.5px;
	}

	.wrapper-container5{
		width:80%;
	}

	.sub-wrapper3{
		float:left;
		width: 50%;
	}

	.sub-wrapper3 .image-loader img{
		float:right;
		width:292.5px;
		height: 292.5px;
	}

	.wrapper-container5 .block{
		float:left;
		padding-bottom:8px;
		width:292.5px;
		height: 292.5px;
	}

	.wrapper-container6{
		width:80%;
	}

	.sub-wrapper4{
		float:right;
		width: 50%;
	}

	.sub-wrapper4 .image-loader img{
		float:left;
		width:292.5px;
		height: 292.5px;
	}

	.wrapper-container6 .block{
		float:right;
		padding-bottom:8px;
		width:292.5px;
		height: 292.5px;
	}

	.bottom-body{
		background: url(../images/image8.png);
		width: 90%;
		height: 459px;
	}

	.bottom-body .benefit-slogan{
		font-size: 60px;
		line-height: 73px;
	}

	.bottom-body .bottom-body-btn{
		width:30%;
	}

	.footer-menu-container{
		display: inline-block;
		width:80%;
	}

	#menu1{
		width:48%;
		float:left;
	}

	#menu2{
		width:48%;
		float:right;
	}
}


/*2. Desktop View*/
@media(min-width: 1200px){

	.subheader{
		display: inline-block;
	}

	.heading, .paragraph{
		all:revert;
	}

	.header{
		height: 610px;
		position: relative;
	}


	.heading{
		font-weight: 600;
		font-size: 40px;
		padding: 191px 0 11px 135px;
	}

	.paragraph{
		font-size: 16px;
		margin-left:135px;
		opacity: 75%;
		margin-bottom: 30px;
	}

	.visual-content .image img{
		width: 468px;
		height: 634px; 
		position: relative;
	}

	.starter{
		float: left;
		width:48%;
	}

	.visual-content{
		width: 52%
		float: right;
		margin-right: 50px;
		position: static;
	}

	.button{
		margin-left:135px;
		padding-right: -50px;
		padding-left: -50px;
		width: 40%;
		cursor: pointer;
	}

	nav{
		margin-bottom: 36px;
		margin-right: 80px;
		cursor: pointer;
	}

	.nav-links ul li{
		display: inline-block;
	}

	.next-btn{
		/*margin-top:-350px;
		margin-right:400px;
*/		position: absolute;
		margin-top:-350px;
		margin-left:610px;
	}

	.next-btn2{
		margin-top:-440px;
		margin-left:990px;
		position: absolute;
	}

	.logoipsum-container{
		width: 50%;
	}

	.horizontal-line{
		margin-top:180px;
	}

	.tools-container{
		display:table;
		width:80%;
		margin-bottom:-120px;
	}

	.tools-container .row1{
		float:left;
		width:48%;
	}

	.tools-container .row2{
		float:right;
		width:48%;
	}

	.set-padding{
		all:unset;
	}

	.external-wrapper1{
		width:90%;
		display: table;
	}

	.wrapper-container3{
		float:left;
		width: 50%;
	}

	.wrapper-container3 .block{
		width: 50%;
	}

	.wrapper-container3 .sub-wrapper1{
		width:50%;
	}

	.wrapper-container4{
		float:left;
		width: 50%;
	}

	.wrapper-container4 .block{
		float:left;
		width: 50%;
	}

	.wrapper-container4 .sub-wrapper2{
		float:left;
		width:50%;
	}

	.external-wrapper2{
		width:90%;
		display: table;
	}

	.wrapper-container5{
		float:left;
		width: 50%;
	}

	.wrapper-container5 .block{
		float:left;
		width: 50%;
	}

	.wrapper-container5 .sub-wrapper3{
		float:right;
		width:50%;
	}

	.wrapper-container6{
		float:left;
		width: 50%;
	}

	.wrapper-container6 .block{
		width: 50%;
	}

	.wrapper-container6 .sub-wrapper4{
		width:50%;
	}


	.buy-food-container .benefit-container{
		text-align: left;
	}

	.buy-food-container{
		display: table;
		width: 90%;
	}

	.pr-1{
		float:left;
		width:25%;
	}

	.pr-2{
		float: left;
		width:25%;
	}

	.pr-3{
		float:right;
		width:25%;
	}

	.pr-4{
		float: right;
		width:25%;
	}


	.footer{
		display: table;
		width: 80%;
		text-align: left;
		margin-top:140px;
	}

	.footer-top{
		float:left;
		width: 30%;
	}

	.footer-menu-container{
		float:left;
		width:40%;
	}

	.get-in-touch{
		float:right;
		width: 30%;
	}

	.footer-top .title{
		margin-top:-70px;
	}

	.footer-top .desc{
		margin-left: 0px;
	}

	.contactwith{
		display: inline-block;
		width: 100%;
	}

	.email{
		float:left;
		width:58%;
	}

	.subscribe{
		float:right;
		width:38%;
		margin-top:-41px;
	}


	.last-content{
		text-align: center;
		margin-left: 190px;
	}
}