body{
  background: #212329;
  color: ivory
}

.lane {
  flex: 1;
  height: 600px;
  background-image: url("../images/start.png");
}

.info{
  transform: translate(10%,0);
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: fixed;
}

.left,
.middle {
  border-right: none;
}

.car {
  width: 55px;
  height: 100px;
  position: absolute;
  background-image: url('../images/car.png');
  background-repeat: no-repeat;
  bottom: 10px;
  transition: 0.4s;
  background-position: center;
}

.car.lane-left {
  left: 25px;
}

.car.lane-middle {
  left: 125px;
}

.car.lane-right {
  left: 225px;
}
