body{
    font-family: Mulish;
}

span{
    display: inline-block;   
}

a{
    text-decoration: none;
}

img{
    cursor: pointer;
}

.header{
    background: #7DD9E8;;
    padding: 19px 0 0.5px 0;
}

.contents{
    max-width: 940px;
}

.menubar-contents-left span:hover{
    color:green;
    cursor: pointer;
    border: 1px solid gray;
}

.menubar-contents-right span:hover{
    color:green;
    cursor: pointer;
    border: 1px solid gray;
}

.search-container-wrapper{
    margin: 20px 0 9px 22px;
}

.search-container{
    background: url(../images/Search-field.png) no-repeat;
}


.search-container input{
    padding:5px;
    width: 207px;
    border: none;
    background-color: transparent;
    vertical-align: super;    
    font-size: 10px;
    height: 20px;
}

.search-container input:focus{
    outline: none;
}

.search-icon{
    float:right;
    padding-top:5px;
}

.cross-icon{
    float:right;
    padding-top:5px;
    margin-right: 5px;
}

.search-button-container{
    background: url(../images/Search-button.png) no-repeat;
    padding-top: 3px;
    width: 55px;
}

.search-button{
    margin-left:5px;
    font-size: 10px;
    color: #fff;
}


.header-right-contents{
    text-align: right;
    margin-top: 7px;
    color: #323232;
}

.top-right{
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: 550;
}

.bottom-right{
    font-size: 11px;
}

.br-menu{
    cursor: pointer;
}

.br-menu:hover{
    background-color: gray;
    color:white;
}

.menubar{
    padding: 14px 0 14px 9px;
    background: #f5f5f5;
    color: #333333;
}

.menubar-contents-left{
    margin-left: 9px;
    font-size: 12px;
}

.menubar-contents-left span{
    margin-right: 30px;
}

.menubar-contents-right{
    font-size: 12px;
}

.menubar-contents-right img{
    vertical-align: sub;
}

.menubar-contents-right>span{
    margin-left: 30px;
    vertical-align: -webkit-baseline-middle;
}

.notifications{
    margin-left: 10px;
}

.noevent{
    color: #969696;
}

.main-container{
    margin-top: 30px;
}

.main-contents-left{
    width: 190px;
}

.list-topic{
    padding: 13px 11px;
    font-size: 16px;
    color: white;
    background: #2fc1d9;
}

.list-contents{
    padding: 5px 0;
    background: #f5f5f5;
}

#list-col1-row2{
    min-height: 434px;
}

#list-col3{
    min-height: 564px;
}

.search-list{
    padding: 0 14px 0 14px;
}

.list-contents li{
    padding: 10px 0;
    font-size: 11px;
}

.list-contents li:hover{
    background: #ffffff;
    cursor: pointer;
}

.left-search-top .list-contents span{
    max-width: 100px;
}

.left-search-bottom .list-contents span{
    max-width: 144px;
}

.main-contents-center-wrapper{
    margin: 0 auto;
    width: 200px;
}

.main-contents-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 27px;
    width: 32.5em;
}

.main-contents-right{
    width: 175px;
}

h2{
    font-size: 24px;
    margin-bottom: 7px;
    font-weight: 500;
}

.menu-val{
    text-align: center;
    font-size: 12px;
    padding-bottom: 9px;
    font-weight: lighter;
}

.tab-val{
    font-size: 11px;;
    font-weight: lighter;
}

.tab-1:hover, .tab-2:hover, .tab-3:hover, .tab-4:hover{
    color:red;
    cursor: pointer;
}

.horizontal-line{
    background-color: #2fc1da;
    height: 2.5px;
}

.center-menu-bar-contents{
    background: #f5f5f5;
    height: 65px;
    display: inline-block;
    width: 244px;

}

.center-menu-bar-left .center-menu-bar-contents{
    padding: 0.625em 0 0.625em 0;
    vertical-align: top;
}

.center-menu-bar-right .center-menu-bar-contents{
    padding: 10px 0 10px 0;
    vertical-align: top;
}

.center-menu-bar{
    height: 65px;
}

.center-menu-bar-right .center-menu-bar-items>span{
    margin-left: 10px;
}

.tab-1{
    margin-right: 10px;
}

.center-menu-bar-items>span{
    vertical-align: middle;
    background: #dddddd;
    height: 28.5px;
    line-height: 28px;
}

.tab-title{
    vertical-align: super;
    min-width: 70px;
    text-align: center;
}

.tab-img{
    height: 28px;
}

#active{
    background: #30c3db;
    color: white;
}

.center-menu-list li{
    padding-top: 15px;
}

.list-content-wrapper{
    height: 70px;
}

.list-content{
    margin-left: 9px;
    vertical-align: top;
    color: #5c5c5c;
    font-size: 11px;
}

.list-title{
    font-weight: 500;
    color: black;
    font-size: 14px;
    margin-bottom: 3px;
}

.blue-hl{
    color: #309eb0;
    font-weight: bold;
}

.green-hl{
    color: #709620;
    font-weight: bold;
}

#red-hl{
    color: #d53f1c;
    font-weight: bold;
}

.list-horizontal-line{
    height: 1px;
    background: #aaaaaa;
    margin-top: 15px;
}

.footer-container{
    margin-top: 32px;
    background: #727272;
    height: 45px;
    vertical-align: middle;
    padding: 16px 0;
    color: #d4d4d4;
}

.footer-left, .footer-right{
    font-size: 9px;
}
